<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>doing things</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body ng-controller="MainController">
<div>
    <form ng-submit="add(item)">
        <input autofocus type="text" ng-model="item.name"/><br />
    </form>

    <ul>
        <li focus-this ng-repeat="item in items" ng-click="delete(item._id)" >{{ item.name }}</li>
        <li class="new" ng-show="item.name">{{ item.name }}</li>
    </ul>
    </div>

<script src="/vendor/angular/angular.min.js" type="text/javascript"></script>
<script src="/javascripts/app.min.js" type="text/javascript"></script>
</body>
</html>