body {
    font-family: 'Roboto', sans-serif;
}

input, input:focus {
    border:none;
    font-size:5em;
    word-wrap: break-word;
    color: #ff4e35;
}

input:focus, textarea:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 5em;
}

li {
    list-style:none;
    padding: 0;
    margin: 0;
}

.new {
    color: #ff4e35;
    opacity: .5;
}

.stuff {
    margin: 1em;
}